.buttonContainer
{
    color: rgb(30, 27, 23);
    background-color: rgb(114, 165, 220);
    height: 3rem;
    margin: 1rem;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}